<form class="form" role="form">
    <h2>Add Stock Items</h2>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" ng-model="addStock.newStockItem.Name" placeholder="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Description</label>
            <input type="text" ng-model="addStock.newStockItem.Description"  placeholder="Description" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Category</label>
            <select class="form-control" 
                    ng-model="addStock.newStockItem.CategoryId" 
                    ng-options="Category.CategoryId as Category.Name for Category in addStock.categories"></select>
        </div>

        <div class="form-group">
            <label class="control-label">Min Level</label>
            <input type="text" ng-model="addStock.newStockItem.MinimumLevel" placeholder="Min" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Max Level</label>
            <input type="text" ng-model="addStock.newStockItem.MaximumLevel"  placeholder="Max" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Unit</label>
            <input type="text" ng-model="addStock.newStockItem.LevelUnit"  placeholder="Unit" class="form-control" />
        </div>

        <div class="form-group">
            <input type="button" value="Add" ng-click="addStock.addStockItem();" class="btn btn-success" />
        </div>
 
        <div>{{addStock.error}}</div>
    </div>
</form>
