<h1>{{stockItem.stockItem.StockItemId}}</h1>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Price/Unit</th>
            <th>Received</th>
            <th>Expiration</th>
            <th>Temp.</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in stockItem.stockItem.ItemEntries">
            <td>{{item.Quantity }}</td>
            <td>{{item.PricePerUnit }}</td>
            <td>{{item.ReceivedDate | date:'shortDate' }}</td>
            <td>{{item.ExpirationDate | date:'shortDate' }}</td>
            <td>{{item.Temperature }}</td>
        </tr>
    </tbody>
</table>
<form  class="form" role="form">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Quantity</label>
            <input type="text" ng-model="stockItem.newItemEntry.Quantity" placeholder="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Price/Unit</label>
            <input type="text" ng-model="stockItem.newItemEntry.PricePerUnit" placeholder="Description" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Expiration Date</label>
            <input type="date" ng-model="stockItem.newItemEntry.ExpirationDate" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Temp</label>
            <input type="text" ng-model="stockItem.newItemEntry.Temperature" placeholder="Max" class="form-control" />
        </div>

        <div class="form-group">
            <input type="button" value="Add" ng-click="stockItem.saveStockItem();" class="btn btn-success" />
        </div>

        <div>{{stockItem.error}}</div>
    </div>
</form>