<div >
    <div>
        <h2>Stock Items</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/#/stock/new"><span class="glyphicon glyphicon-plus"></span> Add Stock Items</a>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Use</th>
                            <th>Edit</th>
                            <th>Item id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Total Quantity</th>
                            <th>Valuation</th>
                            <th>Min-Level</th>
                            <th>Max-Level</th>
                            <th>Unit Type</th>
                            <th>Items On Hand</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="stockItem in vm.stockItems">

                        <tr>
                            <td><button ng-click="vm.useStockItem(stockItem.StockItemId)" class="btn btn-xs btn-success">Use</button></td>
                            <td><a href="/#/stock/edit/{{stockItem.StockItemId}}" class="btn btn-xs btn-primary">Edit</a></td>
                            <td>{{stockItem.StockItemId }}</td>
                            <td>{{stockItem.Name }}</td>
                            <td>{{stockItem.Description }}</td>
                            <td>{{stockItem.TotalOnHand }}</td>
                            <td>{{stockItem.TotalValuation }}</td>
                            <td>{{stockItem.MinimumLevel }}</td>
                            <td>{{stockItem.MaximumLevel }}</td>
                            <td>{{stockItem.LevelUnit }}</td>
                            <td>
                            <a href="/#/stock/{{stockItem.StockItemId}}/itemEntries"><span class="glyphicon glyphicon-plus"></span> Add Items</a>
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Quantity</th>
                                            <th>Price/Unit</th>
                                            <th>Received</th>
                                            <th>Expiration</th>
                                            <th>Temp.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in stockItem.ItemEntries">
                                            <td>{{item.Quantity }}</td>
                                            <td>{{item.PricePerUnit }}</td>
                                            <td>{{item.ReceivedDate | date:'shortDate' }}</td>
                                            <td>{{item.ExpirationDate | date:'shortDate' }}</td>
                                            <td>{{item.Temperature }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td><button ng-click="vm.deleteStockItem(stockItem.StockItemId)" class="btn btn-xs btn-danger">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
